.dirigir{
    text-decoration: none;
    color:black;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#enlaces{
    text-align: center;
    display:grid;
    justify-content: center;
}

#annadir{
    border-color: greenyellow;
}

#annadir:hover{
    background-color: green;
    color:white;
}

#buscarEmpleados{
    border-color: orange;
}

#buscarEmpleados:hover{
    background-color: orangered;
    color:white;
}

#buscarDepartamentos{
    border-color: red;
}

#buscarDepartamentos:hover{
    background-color: brown;
    color:white;
}